<!DOCTYPE html>
<html lang="en">
 <head>
 <link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" >
   <meta name="description" content="">
   <meta name="author" content="">

   <title>GroupDine</title>



   <link href="static/css/bootstrap.css" rel="stylesheet">
   <style>
   body {
      background-image: url(/static/back.jpg) ;
      background-size: 100%;
      background-origin: content;
      background-repeat: no-repeat;
      background-color:	black;
      }
  

   h1 {font-family: Vidaloka, cursive;
       font-weight: 400;
       font-size:100px;}

      </style>
   <!-- Custom styles for this template -->
   <link href="static/css/starter-template.css" rel="stylesheet">
   
   


   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   <![endif]-->
 </head>

 <body>
 

<span style="color:#FFF5EE"> 

   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
     <div class="container" style="color:#FFF5EE">
       <div class="navbar-header" >
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only" >Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#" >
         
        </div>
        
        
       </div>
       
       </div>
     </div>
   </div>
   </span>
   <div class="container" ">
 


     <div class="starter-template" ">
   <table>
   <tr> 
  
  <h3><span style="color:white">Enter the names of your favorite restaurants separated by a comma.<br></br>
  </span></h3>


 <h2> <form class="form-large" action="othersearch.html" method="GET">
 
  </br> </br>
  <center> <input type="text" class="input-large search-query" size=30 name="q1" placeholder="Restaurant names"></h2>
  
 <br><h2>
 <select class="selectpicker" name='Location1'>
<option value="Berkeley" >Berkeley</option>
<option value="Cupertino" >Cupertino</option>
<option value="Daly City">Daly City</option>
<option value="Fremont">Fremont</option>
<option value="Hayward">Hayward</option>
<option value="Los Gatos">Los Gatos</option>
<option value="Milpitas">Milpitas</option>
<option value="Mountain View">Mountain View</option>
<option value="Oakland">Oakland</option>
<option value="Palo Alto">Palo Alto</option>
<option value="Redwood City">Redwood City</option>
<option value="San Jose">San Jose</option>
<option value="San Leandro">San Leandro</option>
<option value="San Mateo">San Mateo</option>
<option value="Santa Clara">Santa Clara</option>
<option value="South San Francisco">South San Francisco</option>
</select></h2>
  <br><h2><button type="submit" class="btn btn-success" style="background-color:#FFB2B2"><span style="color:black">Search
  </span></button> 
 </h2> 
 </center>  <!--</td>&nbsp<td> </td>&nbsp <td> </td><td> </td> <td> </tr> </table>  -->
 <h2>
 {% with errors = get_flashed_messages() %}
        {% if errors %}
        {% for msg in errors %}
        <span style="color:yellow">{{ msg }}</span>
                {% endfor %}
        {% endif %}
{% endwith %}
 
 </h2>
 </form> 
</tr> <tr> </br> </br> </br> </br>
<a href="/#"> <span style="color:#FFB2B2"> Back to homepage</span> </a> </tr>
 </body>
</html>